.cart-button {
   position: relative;
   width: 173px;
   padding: 16px 0 16px 34px;
   font-weight: 500;
   font-size: 14px;
   line-height: 17px;
   background: $yellow;
   border-radius: $primaryRadius;
   transition: $standartTrans;

   &::before {
      position: absolute;
      content: '';
      height: 18px;
      width: 20px;
      top: 15px;
      left: 36px;
      background: url(../images/icons/cart.svg);

   }

   &:disabled {
      background: $primaryGrayColor;
   }

   &:hover {
      background: $yellowDark;
      color: $whiteColor;
      box-shadow: $btnBoxShadow;
   }

   &::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border-radius: $primaryRadius;
      border: 1px solid $yellow;
      z-index: 0;
      transition: $standartTrans;
   }

   &::after {
      opacity: 0;
      border: 1px solid $blackColor;
      transform: translateY(-5px) translateX(5px);
   }

   &:hover::after {
      opacity: 1;
      transform: translateY(0px) translateX(0px);
   }
}

.heart-btn,
.compare-btn {
   position: relative;
   width: 34px;
   height: 34px;
   background: transparent;

   & span {
      display: block;
      transform: scale(0);
   }

   &::after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      background-color: black;
   }

   &:hover::after {
      background-color: red;
   }
}

.compare-btn {
   &::after {
      -webkit-mask-image: url(../images/icons/sticker_compare.svg);
      mask-image: url(../images/icons/sticker_compare.svg);
   }
}

.heart-btn {
   &::after {
      -webkit-mask-image: url(../images/icons/sticker_heart.svg);
      mask-image: url(../images/icons/sticker_heart.svg);
   }
}